$main-color: #F9DC24;
$title-font: 'Viga', sans-serif;
$content-font: 'Open Sans', sans-serif;
$code: 'Courier New', monospace;

* {
  font-family: $content-font;
}

body {
  background-color: $main-color;
}

section {
  height: 100% !important;
}

.reveal {
  .slides {
    height: 100vh !important;
    width: 100vw !important;
    left: 0 !important;
    top: 0 !important;
    transform: none !important;
    zoom: 0 !important;
  }
  
  .title {
    display: flex !important;
    flex-direction: column;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    margin-left: 75px;

  
    &__title {
      font-size: 3em !important;
      font-family: $title-font !important;
      width: 40%;
      text-align: left;
      font-size: 120px !important;
    }
  
    &__tagline {
      font-size: 1.5em !important;
      text-align: left;
      margin-top: 50px;
    }
  }
  
  .intro {
    display: flex !important;
    height: 100vh;
    top: 0 !important;
    padding: 0 !important;

    &__title {
      font-family: $title-font;
      color: $main-color;
      position: absolute;
      top: 50px;
      left: 100px;
      font-size: 5em;
    }

    &__left {
      height: 100vh;
      width: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  
    &__right {
      background-color: white;
      height: 100vh;
      width: calc(100% - 400px);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    &__list {
      font-size: 3em;
      text-align: left
    }

    &__list-item {
      margin: 20px 0px;
    }
  }
  
  .transition {
    &__title {
      font-family: $title-font;
      font-size: 5em;
      width: 40vw;
      text-align: left;
      margin-left: 50px;
    }

    &__slide {
      display: flex !important;
      padding-left: 75px;
      align-items: center;
    }
  }

  .definition {
    display: flex !important;
    align-items: center;
    padding-left: 75px !important;
    &__text {
      font-size: 6em;
      text-align: left;
      width: 74%;
      line-height: 1.2;
    }
  }

  .side-label {
    transform: rotate(270deg);
    height: 35%;
    font-size: 6em !important;
    text-align: left;
    font-family: $title-font !important;
    margin-top: 30px;

    &--small {
      height: 28%;
    }
  }

  .white {
    background-color: white;
  }

  .center {
    display: flex !important;
    justify-content: center;
    align-items: center;

    &--col {
      flex-direction: column;
    }
  }

  .width {
    &--30 {
      width: 30%;
    }
    &--48 {
      width: 48%;
    }
    &--55 {
      width: 55%;
    }
    &--90 {
      width: 90%;
    }
  }

  .ol {
    font-size: 5em;
    margin-left: 75px;
    text-align: left;

    li {
      margin: 40px 0px;
    }
  }

  .large {
    font-size: 5em;
    margin-bottom: 30px;
    margin-left: 75px;
  }

  .left {
    text-align: left;
  }

  .mar-left {
    margin-left: 75px;
  }

  .slide {
    &__title {
      font-size: 60px!important;
      width: auto;
      margin-left: 75px;
      color: $main-color;
      margin-top: 75px;
      position: absolute;
      font-family: $title-font;
    }

    &__list {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 75px;
      font-size: 3em;
      text-align: left;
      width: 90vw;
    }

    &__list-item {
      margin-bottom: 50px;
    }
  }

  .bold {
    font-weight: bold;
  }

  .code {
    font-family: $code;
  }

  .medium {
    width: 55%;
    box-shadow: -5px 5px 5px #f5f5f5;
    position: absolute;
    top: 20%;
    left: 20%;
  }

  .example__link {
    font-size: 6em;
    color: black;
  }

  .end {
    font-size: 5em;
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    margin-top: 50px;
  }
}

