$main-color: #00C56E;
$text-color: #4A4A4A;
$title-font: 'Montserrat', sans-serif;
$content-font: 'Open Sans', sans-serif;

* {
  font-family: $content-font;
}

body {
  background-color: $main-color;
  color: $text-color;
}

section {
  height: 100% !important;
}

.reveal {
  .slides {
    height: 100vh !important;
    width: 100vw !important;
    left: 0 !important;
    top: 0 !important;
    transform: none !important;
    zoom: 0 !important;

    #title {
      display: flex !important;
      flex-direction: column;
      height: 100%;
      top: 0;
      left: 0;
      justify-content: center !important;
      align-items: center !important;
      margin: 0 !important;
      padding: 0;
      color: white;
    }

    #logo-container {
      position: relative;
    }

    #logo {
      width: 500px;
      height: 250px;
    }

    #logo-leaf {
      position: absolute;
      top: 20px;
      right: 27px;
      width: 150px;
      height: 50px;
    }

    #intro,
    #solution,
    #ux-section,
    #demo {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
    }

    #intro-title,
    #solution-title,
    #ux-title,
    #demo-title {
      font-size: 5em;
      color: white;
      font-family: $title-font;
    }

    #intro-slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #intro-image {
      height: 85vh;
      width: 100vw;
    }

    #goal {
      background-color: white !important;
      display: flex !important;
      position: relative;
      justify-content: center;
      align-items: center;
    }

    #goal-title {
      color: $main-color;
      font-family: $title-font;
      font-size: 5em;
      position: absolute;
      top: 50px;
      left: 50px;
    }

    #goal-text {
      font-size: 3em;
      line-height: 1.6em;
      margin: 0px 50px;
      width: 70%;
    }

    #product,
    #method,
    #ux,
    #user-flow,
    #gamify,
    #system,
    #alternatives,
    #thanks {
      background-color: white !important;
      display: flex !important;
      justify-content: center;
      align-items: center;
    }

    #product-text {
      font-size: 3em;
      line-height: 1.6em;
      margin: 0px 50px;
      width: 40%;
    }

    #product-title,
    #method-title,
    #user-flow-title,
    #gamify-title,
    #system-title,
    #alternatives-title {
      position: absolute;
      top: 50px;
      left: 50px;
      color: $main-color;
      font-family: $title-font;
      font-size: 5em;
    }

    #thanks {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    #thanks-title {
      font-size: 3em !important;
      color: $main-color !important;
    }

    #faces {
      width: 90vw;
    }

    #gamify-img,
    #system-img
     {
      width: 50%;
    }

    #alternatives-img {
      height: 90%;
    }

    #method-list {
      text-align: left;
      font-size: 3em;
      margin-left: 100px;
      width: 70%;

      > li {
        margin-bottom: 30px;
      }
    }

    #fall {
      width: 40%;
    }

    .green {
      color: $main-color !important;
    }
  }
}

